@media only screen and (min-width:   32.5em) {
    footer{
        background-color: #517AD8;
        border-radius: 4px;
        margin-top: 25px;
        box-shadow: 0 0 30px #517AD8;
    }
    header {
        background-color: #517AD8;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;

    }
    header img {
        width: 220px;
        height: auto;
        padding: 1em;
        border-radius: 10px;
    }
    h1 {
        font-size: 2.5rem;
        font-family: "Audiowide", sans-serif; 
    }
    h2 {
        font-size: 1.5rem;
        font-family: "Audiowide", sans-serif; 
    }
}