.gridBtns button {
    background-color: transparent;
    border: transparent;
}
.gridBtns img{
    border-radius: 5px;
    background-color: #009fb7;
    max-width: 44px;
    border: none;
    display: flex;
    flex-direction: row;
    min-height: unset;
}
.gridBtns img:hover {
    cursor: pointer;
}
#blueBtn {
    background-color: #fe5f55;
}
#listView img {
    display: none;
}
#listView h2 {
    display: block;
}
.players heightWeight {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
    display: block;
}
.players h2 {
    display: none;
}
.players bio {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
}
.players a {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
}
.players a:hover {
    color: #fe5f55;
    cursor: pointer;
}
.players img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    height: auto;
    -webkit-transform:rotate(-7deg);
    -moz-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform: rotate(-7deg);
}
.players {
    padding: 15px;
    background-color: #009fb7;
    border-radius: 5px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    width: auto;
    box-shadow: 5px 10px 18px #5dfdcb;
}
.hallOfFame a {
    color: #3079C5;
    font-size: larger;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.hallOfFame a:hover {
    color: black;
    cursor: pointer;
}
.visits {
	color: #fe5f55;
	font-weight: bolder;
	font-size: larger;
}
header {
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    background-color: #5DFDCB;
    font-family: 'Varela Round', sans-serif;
    padding: 20px;
    border-radius: 5px;
}
h1, h2, h3, h4, p {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.warning {
    background-color: red;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    font-variant: all-small-caps;
}


form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #000000;
    font-size: .8rem;
    font-family: 'Varela Round', sans-serif;
}
form fieldset {
    margin: 2rem 0;
    border: 10px solid #000000;
    border-radius: 5px;
    padding: .5rem 2%;
    background-color: #5dfdcb;
}
form legend {
    color: #000000;
    margin: 0 2rem;
    padding: .1rem .75rem;
    font-family: 'Varela Round', sans-serif;
    font-size:xx-large;
}
form input {
    background-color: #009fb7;
    color: aliceblue;
}
form input.submitBtn {
    border: none;
    background-color: #009fb7;
    color: #000000;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    box-shadow: 0 9px #999;
}
form input.submitBtn:hover {
    background-color: #fe5f55;
    color: #000000;
    font-size: larger;
    cursor: pointer;
}
form input.submitBtn:active {
    background-color: #fe5f55;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
form h3 {
    display: inline;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: black solid 2px;
}


.backbtn {
    background-color: #009fb7;
    color: #000000;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Varela Round', sans-serif;

}
button {
    background-color: #5dfdcb;
    color: #000000;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Varela Round', sans-serif;
    box-shadow: 0 9px #999;
}
button:active {
    background-color: #5dfdcb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  /* Remove margins and padding from the list */
  ol {
    margin: 0;
    padding: 30px;
  }
  
  /* Style the list items */
  ol li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    font-family: 'Comfortaa', cursive;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 10px;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ol li:nth-child(odd) {
    background: #009fb7;
  }
  
  /* Darker background-color on hover */
  ol li:hover {
    background: #5dfdcb;
  }
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #fa1100;
    color: black;
  }
  
  /* Style the header */
  .header {
    background-color: #5dfdcb;
    padding: 30px 40px;
    color: black;
    text-align: center;
    font-family: 'Comfortaa', cursive;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  .listinput {
    margin: 0;
    border: none;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  .addBtn {
    border: none;
    background-color: #009fb7;
    color: #000000;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    box-shadow: 0 9px #999;
    display: table-cell;
}
.addBtn:hover {
    background-color: #fe5f55;
    color: #000000;
    font-size: larger;
    cursor: pointer;
}