.gridBtns button {
    background-color: transparent;
    border: transparent;
}
.gridBtns img{
    border-radius: 5px;
    background-color: #009fb7;
    max-width: 44px;
    border: none;
    display: flex;
    flex-direction: row;
    min-height: unset;
}
.gridBtns img:hover {
    cursor: pointer;
}
#blueBtn {
    background-color: #fe5f55;
}
#listView img {
    display: none;
}
#listView h2 {
    display: block;
}
.players heightWeight {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
    display: block;
}
.players h2 {
    display: none;
}
.players bio {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
}
.players a {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
}
.players a:hover {
    color: #fe5f55;
    cursor: pointer;
}
.players img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    height: auto;
    -webkit-transform:rotate(-7deg);
    -moz-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform: rotate(-7deg);
}
.players {
    padding: 15px;
    background-color: #009fb7;
    border-radius: 5px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    width: auto;
    box-shadow: 5px 10px 18px #5dfdcb;
}
.hallOfFame a {
    color: #3079C5;
    font-size: larger;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.hallOfFame a:hover {
    color: black;
    cursor: pointer;
}
.visits {
	color: #fe5f55;
	font-weight: bolder;
	font-size: larger;
}
header {
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    background-color: #5DFDCB;
    font-family: 'Varela Round', sans-serif;
    padding: 20px;
    border-radius: 5px;
}
h1, h2, h3, h4, p {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.warning {
    background-color: red;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
}


form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #000000;
    font-size: .8rem;
    font-family: 'Varela Round', sans-serif;
}
form fieldset {
    margin: 2rem 0;
    border: 10px solid #000000;
    border-radius: 5px;
    padding: .5rem 2%;
    background-color: #5dfdcb;
}
form legend {
    color: #000000;
    margin: 0 2rem;
    padding: .1rem .75rem;
    font-family: 'Varela Round', sans-serif;
    font-size:xx-large;
}
form input {
    background-color: #009fb7;
    color: aliceblue;
}
form input.submitBtn {
    border: none;
    background-color: #009fb7;
    color: #000000;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form input.submitBtn:hover {
    background-color: #fe5f55;
    color: #000000;
    font-size: larger;
    cursor: pointer;
}
form h3 {
    display: inline;
}

.backbtn {
    background-color: #009fb7;
    color: #000000;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Varela Round', sans-serif;
}