.gridBtns button {
    background-color: transparent;
    border: transparent;
}
.gridBtns img{
    border-radius: 5px;
    background-color: #009fb7;
    max-width: 44px;
    border: none;
    display: flex;
    flex-direction: row;
    min-height: unset;
}
.gridBtns img:hover {
    cursor: pointer;
}
#blueBtn {
    background-color: #fe5f55;
}
#listView img {
    display: none;
}
#listView h2 {
    display: block;
}
.companies phone {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
    display: block;
}
.companies h2 {
    display: none;
}
.companies address {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
}
.companies a {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
}
.companies a:hover {
    color: #fe5f55;
    cursor: pointer;
}
.companies img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    height: auto;
}
.companies {
    padding: 15px;
    background-color: #009fb7;
    border-radius: 30px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    width: auto;
    box-shadow: 5px 10px 18px #5dfdcb;
}
.visits {
	color: #F1AE65;
	font-weight: bolder;
	font-size: larger;
}