.gridBtns button {
    background-color: transparent;
    border: transparent;
}
.gridBtns img{
    border-radius: 5px;
    background-color: #009fb7;
    max-width: 44px;
    border: none;
    display: flex;
    flex-direction: row;
    min-height: unset;
}
.gridBtns img:hover {
    cursor: pointer;
}
#blueBtn {
    background-color: #fe5f55;
}
#listView img {
    display: none;
}
#listView h2 {
    display: block;
}
.players heightWeight {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
    display: block;
}
.players h2 {
    display: none;
}
.players bio {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
}
.players a {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
}
.players a:hover {
    color: #fe5f55;
    cursor: pointer;
}
.players img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    height: auto;
    -webkit-transform:rotate(-7deg);
    -moz-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform: rotate(-7deg);
}
.players {
    padding: 15px;
    background-color: #009fb7;
    border-radius: 30px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    width: auto;
    box-shadow: 5px 10px 18px #5dfdcb;
}
.directory a {
    color: #3079C5;
    font-size: larger;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.directory a:hover {
    color: black;
    cursor: pointer;
}
.visits {
	color: #F1AE65;
	font-weight: bolder;
	font-size: larger;
}