body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:auto;
    grid-template-columns: 1fr;
}

#people {
    margin-bottom: 30px;
    grid-template-columns: 1fr;
}